body {
    background-color: #1F2937;
    font-family: "Karla", sans-serif;
    margin: 50px;
    width: 450px;
}

h1 {
    color: white;
    font-weight: 800;
}

span {
    color: #4ADF86;
}

#description {
    color: #D5D4D8;
    margin-top: -12px;
    margin-bottom: 40px;
}

input {
    display: block;
    width: 200px;
    margin-bottom: 20px;
    background-color: #10B981;
    border: none;  
    font-family: "Karla", sans-serif;
    color: white;  
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
}

::placeholder {
    color: white;
}

button {
    background-color: #10B981;
    color: white;
    font-family: "Karla", sans-serif;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.password {
    background-color: #273549;
    width: 210px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 30px;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-ctn {
    display: flex;
    border-top: 1px solid #2F3E53;
    margin-top: 30px;
    justify-content: space-between;
}

button:hover {
    background-color: #063d2b;
}

.password:hover {
    background-color: #10B981;
}

#hint {
    text-align: center;
    margin-top: 0;
    color: white;
    font-size: 12px;
}